
	<!-- ABOUT -->

	<div class='container-fluid section'>
		<h2 id='about'>About</h2>
		<div class='row align-items-center'>
			<div class='col-md-4 col-lg-3'>
				<img src='static/imgs/yo1.jpg' class='about_img'>
				<div class='about_links_1'>
					<a href='https://drive.google.com/file/d/1NgdYipYj5ud-iI1xmrS8r-DhJBBYh179/view?usp=sharing' target='_blank' title='See my CV here'><i class='fas fa-file-pdf'></i></a>
					<a href='https://github.com/magdalena90' target='_blank' title='Visit my Github page'><i class='fab fa-github'></i></a>
					<a href='https://www.linkedin.com/in/magdalena-navarro-torres-arpi-751b63131/' target='_blank' title='See my LinkedIn profile'><i class='fab fa-linkedin-in'></i></a>
				</div>
			</div>
			<div class='col-md-8 col-lg-9'>
				<p>Hi! I am a data scientist with 6 years of experience doing data modelling and 3 years of experience in industry. My main interests are Machine Learning, Statistics, Bioinformatics and Data Visualisation.</p>
				<p>I studied a BSc. in Applied Mathematics where I majored in Numerical Optimisation and Statistical Learning and graduated with special mention, I then worked for three years to learn more about the practical aspects of the field and afterwards, I studied an MSc in Data Science specialising in Machine Learning and Bioinformatics at the University of Edinburgh, where I graduated with distinction and received the Class Prize. Now, I am about to start a PhD in Machine Learning and Computational Biology to study gene expression profiling in the brain related to Autism Spectrum Disorders.</p>
				<div class='about_links_2'>
					<a href='https://drive.google.com/file/d/1NgdYipYj5ud-iI1xmrS8r-DhJBBYh179/view?usp=sharing' target='_blank' title='See my CV here'><i class='fas fa-file-pdf'></i></a>
					<a href='https://github.com/magdalena90' target='_blank' title='Visit my Github page'><i class='fab fa-github'></i></a>
					<a href='https://www.linkedin.com/in/magdalena-navarro-torres-arpi-751b63131/' target='_blank' title='See my LinkedIn profile'><i class='fab fa-linkedin-in'></i></a>
				</div>
			</div>
		</div>
		<div class='about_links_3'>
			<a href='https://drive.google.com/file/d/1NgdYipYj5ud-iI1xmrS8r-DhJBBYh179/view?usp=sharing' target='_blank' title='See my CV here'><i class='fas fa-file-pdf'></i></a>
			<a href='https://github.com/magdalena90' target='_blank' title='Visit my Github page'><i class='fab fa-github'></i></a>
			<a href='https://www.linkedin.com/in/magdalena-navarro-torres-arpi-751b63131/' target='_blank' title='See my LinkedIn profile'><i class='fab fa-linkedin-in'></i></a>
		</div>
	</div>
	