
<!-- CONTACT -->

<div class='container-fluid section contact_section'>
	<h2 id='contact'>Contact</h2>
	<br>
  <form id='contact-form'>
  	<div class='row'>
  		<div class='col-sm-6 user_name_container'>
    		<input type='text' name='user_name' id='user_name' placeholder='Name'>
    	</div>
    	<div class='col-sm-6 email_container'>
    		<input type='email' name='user_email' id='user_email' placeholder='Email'>
    	</div>
    </div>
    <div class='center_text center_text'>
    	<textarea name='contact' id='message_html' placeholder='Message' rows='4'></textarea>
    	<br>
    	<input type='submit' value='Send'>
    </div>
  </form>
</div>