
<div class='container-fluid section'>
	<h2 id='programming'>Programming</h2>
	<div class='row'>
		<div class='col-sm-6'>
			<h3>Languages</h3>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col-5'>
						<p>R</p>
						<p>Python</p>
						<p>Javascript</p>
						<p>Matlab</p>
						<p>SQL</p>
						<p>Bash</p>
						<p>Ruby</p>
						<p>Java</p>
					</div>
					<div class='col-7'>
						<div class='progress'><!-- R -->
							<div class='progress-bar' style='width:95%'></div>
						</div><br>
						<div class='progress'><!-- Python -->
							<div class='progress-bar' style='width:90%'></div>
						</div><br>
						<div class='progress'><!-- Javascript -->
							<div class='progress-bar' style='width:90%'></div>
						</div><br>
						<div class='progress'><!-- Matlab -->
							<div class='progress-bar' style='width:80%'></div>
						</div><br>
						<div class='progress'><!-- SQL -->
							<div class='progress-bar' style='width:80%'></div>
						</div><br>
						<div class='progress'><!-- Bash -->
							<div class='progress-bar' style='width:70%'></div>
						</div><br>
						<div class='progress'><!-- Ruby -->
							<div class='progress-bar' style='width:65%'></div>
						</div><br>
						<div class='progress'><!-- Java -->
							<div class='progress-bar' style='width:25%'></div>
						</div><br>
					</div>
				</div>
			</div>
		</div>
		<div class='col-sm-6'>
			<h3>Tools</h3>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col-5'>
						<p>HTML5+CSS</p>
						<p>Shiny</p>
						<p>Bootstrap</p>
						<p>Latex</p>
						<p>Git</p>
						<p>Gephi</p>
						<p>Flask</p>
						<p>D3</p>
						<p>Hadoop</p>
					</div>
					<div class='col-7'>
						<div class='progress'><!-- HTML5+CSS -->
							<div class='progress-bar' style="width:95%"></div>
						</div><br>
						<div class='progress'><!-- Shiny -->
							<div class='progress-bar' style="width:95%"></div>
						</div><br>
						<div class='progress'><!-- Bootstrap -->
							<div class='progress-bar' style="width:95%"></div>
						</div><br>
						<div class='progress'><!-- Latex -->
							<div class='progress-bar' style="width:95%"></div>
						</div><br>
						<div class='progress'><!-- Git -->
							<div class='progress-bar' style="width:90%"></div>
						</div><br>
						<div class='progress'><!-- Gephi -->
							<div class='progress-bar' style="width:90%"></div>
						</div><br>
						<div class='progress'><!-- Flask -->
							<div class='progress-bar' style="width:80%"></div>
						</div><br>
						<div class='progress'><!-- D3 -->
							<div class='progress-bar' style="width:80%"></div>
						</div><br>
						<div class='progress'><!-- Hadoop -->
							<div class='progress-bar' style="width:50%"></div>
						</div><br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
